<h2 mat-dialog-title align = "center">{{title}}</h2>
 <mat-dialog-content [formGroup]="form" style="height: 120px;">
    <mat-form-field>
        <input matInput
                placeholder="Department"
               formControlName="title" required>
    </mat-form-field>
    <mat-error *ngIf="formErrors?.title"> {{ formErrors?.title }}</mat-error>
     <br>
    <mat-slide-toggle formControlName="status" >Active</mat-slide-toggle>
</mat-dialog-content> 
<mat-dialog-actions align = "end">
    <button class="mat-raised-button" (click)="close()">Close</button>
    <button class="mat-raised-button mat-primary" *ngIf="department == 'null'" [disabled]="!form.valid" (click)="save()">Save</button>
    <button class="mat-raised-button mat-warn" *ngIf="department != 'null'" [disabled]="!form.valid" (click)="update()">Update</button>
</mat-dialog-actions>
