$gray-lighter: #eceeef !default;
$image_path: "/assets/images/" !default;

$prefix: 'sigin';

.#{$prefix} {

  &-conainer {
    min-height: 100%;
    background-size: cover;
    padding: 100px;
  }

  &-main {
    position: relative;
    margin: 0 auto;
    width: 500px;
  }
}

.full-width {
  width: 100%;
}

.help {

}

.is-danger {

}

.redirect {
  font-size: 14px;
  margin-left: 10px;
  color: #00AAAA;
}

.signin-form{
  width: 512px;
}
@media only screen and (max-width: 600px) {
  .signin-form{
      width: 312px;
  }
}
.signin-forgot-password{
  text-align: right;
  margin-top: 10px;
}
a{
  text-decoration: none;
}