<ngx-loading [show]="loading" ></ngx-loading>
<div fxLayout="column"  class="components-container-gt-xs"  [ngClass.xs]="'components-container-xs'"  fxLayoutGap="20px">
  <div fxFlex class="table-component-holder mat-elevation-z4">
    <mat-toolbar class="table-header">
      <h1 class="mat-headline center-align" >Meal Category</h1>
      <span class="fill-space"></span>
        <div class="item item-5 text-right"><button mat-raised-button color="primary"><mat-icon>add</mat-icon>&nbsp;Add Meal Category</button></div> 
    </mat-toolbar>
    <div class="table-container">
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
            </mat-form-field>
            <table mat-table [dataSource]="dataSource" >
            <!-- Position Column -->
            <ng-container matColumnDef="sn">
              <th mat-header-cell *matHeaderCellDef> SN. </th>
              <td mat-cell *matCellDef="let element"> {{element.sn}} </td>
            </ng-container>
            <ng-container matColumnDef="location">
              <th mat-header-cell *matHeaderCellDef> Meal Category </th>
              <td mat-cell *matCellDef="let element"> {{element.title}} </td>
            </ng-container>
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef> Active </th>
                <td mat-cell *matCellDef="let element" > <span *ngIf="element.status">Yes</span> <span *ngIf="!element.status">No</span> </td>
              </ng-container>
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef> Actions </th>
               <td mat-cell *matCellDef="let element" > <button mat-icon-button ><mat-icon >create</mat-icon></button> &nbsp;&nbsp;</td> 
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>

