<ngx-loading [show]="loading" ></ngx-loading>
<div fxLayout="column" fxFlexFill fxLayoutAlign="center center" style="background-image:url('../../../assets/login11.jpg');
height: 100%;
background-repeat: no-repeat;
background-position: center;
background-size: cover; ">
    <div fxLayout="column" >
   
        <div class="mat-elevation-z2 signin-form">
            <mat-card>
                <mat-card-title style="text-align: center">Forgot Password
                </mat-card-title>
                <mat-card-content>
                    <form fxLayout="column" fxLayoutAlign="start stretch" [formGroup]="userForm" (ngSubmit)="ConfirmResetDialog()">
                        <mat-form-field class="full-width">
                          <input type="email" id="email" class="input" placeholder="Email"
                                 formControlName="email" required matInput>
                        </mat-form-field>
                        <mat-error *ngIf="formErrors.email"> {{ formErrors.email }}</mat-error>
                        <button mat-raised-button color="primary" type="submit" [disabled]="!userForm.valid">Reset Password</button>
                       <p class="signin-forgot-password"> <a class="redirect" [routerLink]="['/login']" >Sign In</a></p>
                    </form>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
